#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  background-image: url('https://t3.ftcdn.net/jpg/04/01/81/62/360_F_401816254_mPCm235XCEkxrzBXhCKjVPMgNOLDoS9R.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
